services:
  app:
    build: ./app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1024M

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: prometheus
      POSTGRES_PASSWORD: prometheus
      POSTGRES_DB: prometheus
    volumes:
      - psql_data:/var/lib/postgresql/data

  prometheus_server:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  prometheus_data:
  grafana_data:
  psql_data:
