services:
  app:
    build: ./app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8000/health"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 20s
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512M

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: prometheus
      POSTGRES_PASSWORD: prometheus
      POSTGRES_DB: prometheus
    volumes:
      - psql_data:/var/lib/postgresql

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://prometheus:prometheus@postgres:5432/prometheus?sslmode=disable"
    depends_on:
      - postgres
    restart: unless-stopped

  prometheus_server:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro

  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    restart: unless-stopped
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  locust-master:
    image: locustio/locust:latest
    ports:
      - "8089:8089"
    volumes:
      - ./locust/locustfile.py:/home/locust/locustfile.py
    command: -f /home/locust/locustfile.py --master --host=http://app:8000

  locust-worker:
    image: locustio/locust:latest
    volumes:
      - ./locust/locustfile.py:/home/locust/locustfile.py
    command: -f /home/locust/locustfile.py --worker --master-host=locust-master
    depends_on:
      - locust-master
    deploy:
      mode: replicated
      replicas: 3


volumes:
  prometheus_data:
  grafana_data:
  psql_data:
